In [2]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [3]:
df = pd.read_csv("/UPFLAIR/notebook/data/Used_Bikes.csv")

In [4]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [5]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [6]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [7]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32643     True
32644     True
32645     True
32646     True
32647     True
Length: 32648, dtype: bool

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.drop("city",axis=1,inplace=True)

In [11]:
df.drop("bike_name",axis=1,inplace=True)

In [12]:
df

         price  kms_driven        owner  age  power            brand
0      35000.0     17654.0  First Owner  3.0  110.0              TVS
1     119900.0     11000.0  First Owner  4.0  350.0    Royal Enfield
2     600000.0       110.0  First Owner  8.0  675.0          Triumph
3      65000.0     16329.0  First Owner  4.0  180.0              TVS
4      80000.0     10000.0  First Owner  3.0  150.0           Yamaha
...        ...         ...          ...  ...    ...              ...
9362   25000.0     48587.0  First Owner  8.0  150.0             Hero
9369   35000.0     60000.0  First Owner  9.0  220.0            Bajaj
9370  450000.0      3430.0  First Owner  4.0  750.0  Harley-Davidson
9371  139000.0     21300.0  First Owner  4.0  400.0            Bajaj
9372   80000.0      7127.0  First Owner  5.0  220.0            Bajaj

[7324 rows x 6 columns]

In [13]:
df['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [14]:
df['brand'].unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [15]:
dt = {
    'First Owner' : 1,
    'Second Owner' : 2,
    'Third Owner' : 3,
    'Fourth Owner Or More' : 4  
}

In [16]:
df['owner'] = df['owner'].map(dt)

In [17]:
df

         price  kms_driven  owner  age  power            brand
0      35000.0     17654.0      1  3.0  110.0              TVS
1     119900.0     11000.0      1  4.0  350.0    Royal Enfield
2     600000.0       110.0      1  8.0  675.0          Triumph
3      65000.0     16329.0      1  4.0  180.0              TVS
4      80000.0     10000.0      1  3.0  150.0           Yamaha
...        ...         ...    ...  ...    ...              ...
9362   25000.0     48587.0      1  8.0  150.0             Hero
9369   35000.0     60000.0      1  9.0  220.0            Bajaj
9370  450000.0      3430.0      1  4.0  750.0  Harley-Davidson
9371  139000.0     21300.0      1  4.0  400.0            Bajaj
9372   80000.0      7127.0      1  5.0  220.0            Bajaj

[7324 rows x 6 columns]

In [18]:
Encoder = LabelEncoder()

In [19]:
output = Encoder.fit_transform(df['brand'])

In [20]:
output

array([19, 17, 20, ...,  4,  1,  1], shape=(7324,))

In [21]:
df['brand'] = output

In [22]:
df

         price  kms_driven  owner  age  power  brand
0      35000.0     17654.0      1  3.0  110.0     19
1     119900.0     11000.0      1  4.0  350.0     17
2     600000.0       110.0      1  8.0  675.0     20
3      65000.0     16329.0      1  4.0  180.0     19
4      80000.0     10000.0      1  3.0  150.0     21
...        ...         ...    ...  ...    ...    ...
9362   25000.0     48587.0      1  8.0  150.0      5
9369   35000.0     60000.0      1  9.0  220.0      1
9370  450000.0      3430.0      1  4.0  750.0      4
9371  139000.0     21300.0      1  4.0  400.0      1
9372   80000.0      7127.0      1  5.0  220.0      1

[7324 rows x 6 columns]

In [23]:
x = df.drop('price',axis=1)
y = df[['price']]

In [24]:
x ## Independent variable

      kms_driven  owner  age  power  brand
0        17654.0      1  3.0  110.0     19
1        11000.0      1  4.0  350.0     17
2          110.0      1  8.0  675.0     20
3        16329.0      1  4.0  180.0     19
4        10000.0      1  3.0  150.0     21
...          ...    ...  ...    ...    ...
9362     48587.0      1  8.0  150.0      5
9369     60000.0      1  9.0  220.0      1
9370      3430.0      1  4.0  750.0      4
9371     21300.0      1  4.0  400.0      1
9372      7127.0      1  5.0  220.0      1

[7324 rows x 5 columns]

In [25]:
y  ## Dependent variable

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7324 rows x 1 columns]

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, x_test , y_train , y_test  = train_test_split(x,y,test_size=0.2,random_state=42)

In [28]:
x_train.shape , y_train.shape , x_test.shape , y_test.shape

((5859, 5), (5859, 1), (1465, 5), (1465, 1))

In [29]:
x_train.head()
x_train.shape

(5859, 5)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
lr = LinearRegression()

In [32]:
lr.fit(x_train,y_train)

LinearRegression()

In [33]:
print("training_score" ,lr.score(x_train,y_train))

training_score 0.6583186303624649

In [34]:
print("testing score" , lr.score(x_test,y_test))

testing score 0.7175947383086565

In [35]:
pred = lr.predict(x_test)

In [36]:
pred

array([[150683.50273601],
       [246408.76411648],
       [ 94949.23656378],
       ...,
       [ 37079.00523583],
       [238205.04024506],
       [ 36702.67235501]], shape=(1465, 1))

In [37]:
x_test.shape

(1465, 5)

In [38]:
y_test

         price
4909   88400.0
1942  102850.0
5763   67000.0
4800   30000.0
7614   20000.0
...        ...
5653  395000.0
609   140000.0
4211   54500.0
6379  114000.0
647    36000.0

[1465 rows x 1 columns]

In [39]:
y_test['pred'] = pred.ravel()

In [40]:
y_test

         price           pred
4909   88400.0  150683.502736
1942  102850.0  246408.764116
5763   67000.0   94949.236564
4800   30000.0    2790.775522
7614   20000.0    6456.787056
...        ...            ...
5653  395000.0  411532.041280
609   140000.0  102647.279228
4211   54500.0   37079.005236
6379  114000.0  238205.040245
647    36000.0   36702.672355

[1465 rows x 2 columns]